<div class="container">
  <h2> <%= t("registration.edit", resource_name: resource.class.model_name.human) %></h2>
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs edit-user">
      <%= f.input :email, required: true, autofocus: true %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p><%= t("registration.pending_information", unconfirmed_email: resource.unconfirmed_email) %></p>
      <% end %>

      <%= f.input :password, autocomplete: "off", hint: t("registration.hint.blank"),required: false %>
      <%= f.input :password_confirmation, required: false %>
      <%= f.input :current_password, hint: t("registration.hint.current_password"), required: true %>
    </div>

    <div class="form-actions">
      <%= f.button :button, t("registration.update_button"), data: { disable_with: loader(text: t("loader.saving")) } %>
    </div>
  <% end %>
  <%= link_to t("back"), :back %>
</div>
