<div class="container">
  <h2>Edit <%= resource_name.to_s.humanize %></h2>
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs edit-user">
      <%= f.input :email, required: true, autofocus: true %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p><%= t('registration.pending_information', unconfirmed_email: resource.unconfirmed_email) %></p>
      <% end %>

      <%= f.input :password, autocomplete: "off", hint: t('registration.hint.blank'),required: false %>
      <%= f.input :password_confirmation, required: false %>
      <%= f.input :current_password, hint: t('registration.hint.current_password'), required: true %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, t('update') %>
    </div>
  <% end %>
  <%= link_to t('back'), :back %>
</div>

<div class="container">
  <div id="cancel-account">
    <h3><%= t('cancel_account.cancel') %></h3>

    <p><%= t('unhappy') <%= link_to t('cancel_account.cancel'), registration_path(resource_name), data: { confirm: t('confirmation') }, method: :delete %></p>

    <%= link_to t('back'), :back %>
  </div>
</div>
