<div class="outer">
  <div class="container">
    <% cache @user do %>
      <h1><%= t('entries.index.user_hours', user: @user.first_name) %></h1>
      <div class="chart">
        <canvas id="hours-per-project" data-data="<%= @user.hours_per_project.to_json %>" width=200 height=200 ></canvas>
        <div class="spent-info">
          <span class="hours" style="color: #D66278"><%= @user.hours_spent %></span>
        </div>
      </div>
      <ul class="legend">
        <% @user.projects.each do |project| %>
          <li>
          <span class="color" style="background-color: <%= project.name.pastel_color %>"></span> <%= project.name %>: <%= @user.percentage_spent_on(project).round %>% (<%= @user.hours_spent_on(project) %><%= t('entries.index.hours_indication') %>)
          </li>
        <% end %>
        <li><strong><%= t('entries.index.total', hours_spent: @user.hours_spent) %><%= t('entries.index.hours_indication') %></strong></li>
      </ul>
    <% end %>
    <%= render 'entries_table' %>
  </div>
</div>
