<div class="container">
  <h1><%= t('entries.index.user_hours', user: @user.first_name) %></h1>

  <table class="entries">
    <thead>
      <tr>
        <th><%= t("entries.index.date") %></th>
        <th><%= t("entries.index.project") %></th>
        <th><%= t("entries.index.hours") %></th>
        <th><%= t("entries.index.category") %></th>
        <th><%= t("entries.index.tags") %></th>
        <% if @user == current_user %>
          <th></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
    <% @entries.each do |entry| %>
      <tr class="info-row">
        <td><%= l(entry.date) %></td>
        <td><%= link_to entry.project.name, entry.project %></td>
        <td><%= entry.hours %></td>
        <td>
          <div class="project">
            <span class="color" style="background-color:<%= entry.category.name.pastel_color %>;"></span>
            <span><%= entry.category.name %></span>
          </div>
        </td>
        <td>
          <div class="table-tags">
            <%= entry.tag_list %>
          </div>
        </td>
        <% if @user == current_user %>
          <td>
            <%= link_to t('entries.index.edit'), edit_entry_path(entry) %> -
            <%= link_to t('entries.index.delete'), entry, method: :delete, class: :destroy, data: { confirm: t(:confirm) } %>
          </td>
        <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>
  <%= paginate @entries %>
</div>
