<div class="outer">
  <div class="container">
    <% cache @user do %>
      <h1><%= t('entries.index.user_hours', user: @user.first_name) %></h1>
      <div class="chart">
        <h2><%= t('entries.index.per_project') %></h2>
        <canvas id="hours-per-project" data-data="<%= EntryStats.new(@user.entries).hours_for_subject_collection(Project.all).to_json %>" width=200 height=200 ></canvas>
        <div class="spent-info">
          <span class="hours" style="color: #D66278"><%= EntryStats.new(@user.entries).total_hours %></span>
        </div>
      </div>
    <% end %>
    <%= render 'entries_table' %>
  </div>
</div>
