<div class="outer">
  <div class="container">
    <h2> <%= t("registration.edit", resource_name: @user.class.model_name.human) %></h2>
    <%= render "application/avatar", user: @user %>
    <p><%= t("registration.gravatar_instructions_html") %></p>

    <%= simple_form_for(@user) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs edit-user">
        <%= f.input :first_name, required: true, autofocus: true %>
        <%= f.input :last_name, required: true %>
        <%= f.input :email, required: true %>
        <%= f.input :password, autocomplete: "off", hint: t("registration.hint.blank"), required: false %>
        <%= f.input :password_confirmation, required: false %>
        <%= f.input :current_password, hint: t("registration.hint.current_password"), required: true %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, t("registration.update_button") %>
      </div>
    <% end %>
    <%= link_to t("back"), :back %>
  </div>
</div>
