.outer
  .container
    %h1= title
    .users-overview
      %table
        %tbody
          = render "users/users", locals: { users: @users }
    .invitation-form
      = simple_form_for(User.new, url: user_invitation_path) do |f|
        = f.input :email, placeholder: t("users.email"), label: false, required: true
        = f.button :submit, t("users.invite")
