<div class="container">
  <div class="title-container">
    <h1><%= @user.full_name %></h1>
    <ul class="time-span">
      <li><%= link_to t("report.weekly"), user_path(time_span: "weekly") %></li>
      <li><%= link_to t("report.monthly"), user_path %></li>
      <li><%= link_to t("report.yearly"), user_path(time_span: "yearly") %></li>
    </ul>
  </div>
  <div class="hours-per-day">
    <p><%= t("report.hours_per_day", count: @time_series.days) %></p>
    <canvas id="hours-per-day-chart" data-data="<%= @time_series.serialize.to_json %>" width=1800 height=200></canvas>
  </div>

  <div class="hours-per-user-overview">
    <p>Hours spent per project</p>
    <canvas id="hours-per-user" data-data="<%= @user.hours_per_project.to_json %>" width="300" height="300"></canvas>
    <ul class="legend">
      <% @user.projects.each do |project| %>
        <li>
      <span class="color" style="background-color: <%= project.name.pastel_color %>"></span> <%= project.name %>: <%= @user.percentage_spent_on(project).round %>% (<%= @user.hours_spent_on(project) %><%= t('entries.index.hours_indication') %>)
      </li>
    <% end %>
      <li><strong><%= t('entries.index.total', hours_spent: @user.hours_spent) %><%= t('entries.index.hours_indication') %></strong></li>
    </ul>
  </div>
</div>
