%h1= t("client.entries.title")
%table.entries-table
  %thead
    %tr
      %th= t("entries.table.date")
      %th= t("entries.table.project")
      %th= t("entries.table.user")
      %th.center= t("entries.table.hours")
      %th.hide-for-mobile= t("entries.table.category")
      %th.hide-for-mobile= t("entries.table.description")
  %tbody
    - entries.each do |entry|
      - cache cache_key_for_current_user(entry) do
        %tr.info-row
          %td= l(entry.date)
          %td= link_to entry.project.name, entry.project
          %td
            = link_to user_entries_path(entry.user) do
              = entry.user.full_name
          %td.center= entry.hours
          %td.hide-for-mobile
            %span.color{:style => "background-color:#{entry.category.name.pastel_color};"}
            = entry.category.name
          %td.hide-for-mobile.table-description
            = sanitize autolink_tags(entry.description)
= paginate entries
