<% cache static_cache_key_for(:team) do %>
  <div class="hero team-header">
    <div class="hero-inner">
      <div class="hero-copy">
        <%= link_to root_path do %>
          <h1 id="logo">
            <%= image_tag("logo-white-shadow.png", alt: 'Hours') %>
          </h1>
        <% end %>
        <h2>The Team</h2>
      </div>
    </div>
  </div>

  <div class="main">
    <div class="copy">
      <ul class="team">
        <li>
          <a href="https://github.com/jurre">
            <%= image_tag("jurre.jpg") %>
            <p>Jurre Stender</p>
          </a>
        </li>
        <li>
          <a href="https://github.com/dkhgh">
            <%= image_tag("hugo.jpg") %>
            <p>Hugo Veeger</p>
          </a>
        </li>
        <li>
          <a href="https://github.com/sn3p">
            <%= image_tag("matthijs.jpg") %>
            <p>Matthijs Kuiper</p>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <%= render "footer" %>
<% end %>
