.outer
  .container
    %h1= t("audits.title")
    %ul.audits-list
      - @audits.each do |audit|
        %li
          = time_tag audit.created_at
          = render "application/avatar", user: audit.user
          %strong
            = link_to user_entries_path(audit.user) do
              = audit.user.full_name
          updated
          = audit.audited_changes.keys.map { |key| "<code>#{key}</code>" }.join(", ").html_safe

          / Make this collapsable?
          %ul
            - audit.audited_changes.keys.each do |key|
              %li
                %code= key
                from
                %code X
                to
                %code Y
