<li>
  <div class="category">
    <span class="color" style="background-color:<%= category.name.pastel_color %>;"></span>
    <span class="activity"><%= category.name %></span>
  </div>
  <div class="spent">
    <canvas class="spent-chart" data-spent="<%= EntryStats.new(project.entries, category).percentage_spent_on %>" data-color="<%= category.name.pastel_color %>" width="100" height="100"></canvas>
    <div class="spent-info">
      <span class="hours" style="color: <%= category.name.pastel_color %>">
        <%= EntryStats.new(project.entries, category).hours_spent_on %>
      </span>
      <span class="percent">
        <%= EntryStats.new(project.entries, category).percentage_spent_on %>%
      </span>
    </div>
  </div>
</li>
