- present project do |project_presenter|
  .project
    %header
      %div.actions
        %div
          = link_to edit_project_path(project) do
            = t("project.show.edit_link")
      = link_to project_path(project) do
        %h2= project.name
      - if project.client
        = link_to client_path(project.client), class: "clients-header" do
          = client_title(project.client)
      - if project.budget
        .project-budget
          = t(:budget_html, budget_left: project.budget_status, budget: project.budget)
      %p= markdown(project.description) if project.description
    %hr/
  .activities-overview
    %ol.activities
      = project_presenter.show_categories
  %br/
  .bar
    .graph
      = project_presenter.show_categories_bar
  .activity-description
    - if project.users.count > 0
      = t(:project_activity_html, full_name: project.users.first.full_name, count: project.users.count, hours: EntryStats.new(project.hours).total_hours, project: project.name)
    - else
      = t(:no_hours_registered, project: project.name)
    .active-people.hide-for-mobile
      - project.users.each do |user|
        = render "application/avatar", user: user
