<div class="project">
  <h2><%= project.name %></h2>
    <div class="activities-overview">
      <ol class="activities">
        <% project.sorted_categories.each do |category| %>
          <li>
          <span class="color-block color" style="background-color:<%= pastel_color(category.name) %>;"></span>
            <span class="activity"><%= category.name %></span>
            <span class="percent"><%= project.percentage_spent_on(category) %>%</span>
          </li>
        <% end %>
    </ol>
    </div>
    <div class="bar">
      <a href="#" class="graph" style="">
      <% project.sorted_categories.each do |category| %>
        <span class="activity-color" style="width:<%= project.percentage_spent_on(category) %>%; background-color:<%= pastel_color(category.name) %>;" itemprop="keywords"></span>
      <% end %>
      </a>
    </div>
    <strong><%= project.users.count %> people</strong> spent <span class="hours"> <%= project.hours_spent %> hours</span> working on <strong><%= project.name %></strong>
    <div class="active-people">
      <% project.users.each do |user| %>
        <%= gravatar_image_tag user.email, class: "image-circle" %>
      <% end %>
    </div>
</div>
