<% present project do |project_presenter| %>
<div class="project">
  <%= link_to project_path(project) do %>
    <h2><%= project.name %></h2>
  <% end %>
  <hr>
  <ul class="tags">
    <% project.tags.each do |tag| %>
      <li class="tag"><a href="#"><%= tag.name %></a></li>
    <% end %>
  </ul>

  <div class="activities-overview">
    <ol class="activities">
      <%= project_presenter.show_categories %>
    </ol>
  </div>
  <br>

  <div class="bar">
    <div class="graph">
      <%= project_presenter.show_categories_bar %>
    </div>
  </div>

  <div class="activity-description">
    <% if project.users.count > 0 %>
      <%= t(:project_activity_html, full_name: "<strong> #{project.users.first.full_name} </strong>".html_safe, count: project.users.count, hours: "<strong>#{project.hours_spent}</strong>".html_safe, project: "<strong>#{project.name}</strong>".html_safe) %>
    <% else %>
      <%= t(:no_hours_registered, project: project.name) %>
    <% end %>
      <div class="active-people hide-for-mobile">
        <% project.users.each do |user| %>
          <%= user_image_link(user) %>
        <% end %>
      </div>
  </div>
</div>
<% end %>
