<div class="outer">
  <div class="wrapper">
    <div class="projects-overview">
      <% cache([cache_key_for_all(:projects),
                cache_key_for_all(:categories),
                cache_key_for_all(:tags)]) do %>
        <%= render partial: "application/entry_form", locals: { form_title: t("entries.index.new") } %>
      <% end %>
      <ul class="project-list">
        <% cache cache_key_for_all(:projects) do %>
          <% unless Project.any? %>
            <div class="info">
              <p><%= t("info.no_projects_html", new_project_path: link_to(t("info.here"), new_project_path)) %></p>
            </div>
          <% end %>
          <% unless Category.any? %>
            <div class="info">
              <p><%= t("info.no_categories_html", categories_path: link_to(t("info.here"), categories_path)) %></p>
            </div>
          <% end %>
          <%= render partial: "project", locals: { projects: @projects } %>
        <% end %>
      </ul>
      <div class="new-project">
        <%= link_to t("titles.projects.new"), new_project_path, id: "new-project-button", class: "button create" %>
      </div>
    </div>

    <div class="activity-feed">
      <ul>
        <% cache cache_key_for_all(:entries) do %>
          <%= render partial: "entry", collection: @activities %>
        <% end %>
    </ul>
    </div>
  </div>
</div>
