<div class="outer">
  <div class="wrapper">

    <div class="entry-sidebar">
      <div class="entry-sidebar-inner">

        <div class="new-entry-wrapper">
          <h2><%= t("entries.index.new") %></h2>
          <%= render partial: "application/entry_form" %>
        </div>

        <div class="new-project">
          <%= link_to t("titles.projects.new"), new_project_path, class: "button" %>
        </div>
      </div>
    </div>

    <div class="projects-overview">
      <ul class="project-list">
        <% cache cache_key_for_all(:projects) do %>
          <%= render partial: "project", locals: { projects: @projects } %>
        <% end %>
      </ul>
    </div>

    <div class="activity-feed">
      <ul>
        <% cache cache_key_for_all(:entries) do %>
          <%= render partial: "entry", collection: @activities %>
        <% end %>
    </ul>
    </div>
  </div>
</div>
