<div class="outer">
  <div class="container">
    <h1><%= title %></h1>

    <%= simple_form_for(@project) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :name, required: true, autofocus: true %>
        <%= f.button :submit %>
      </div>
    <% end %>
  </div>
</div>
