<% cache @project do %>
  <div class="outer">
    <div class="container">
      <%= render partial: "project_detail", locals: { project: @project } %>

      <div class="hours-per-user-overview">
        <canvas id="hours-per-user" data-data="<%= @project.hours_per_user.to_json %>" width="200" height="200"></canvas>
      </div>
      <ul class="legend">
        <% @project.users.each do |user| %>
        <li>
          <%= user_image_link(user, border: true) do
            content_tag(:span, "#{user.full_name} ( #{user.hours_spent_on(@project)} #{t(:hours)} )")
          end %>
        </li>
        <% end %>
      </ul>

      <table>
        <tbody>
          <tr>
            <th><%= t('project.table_head.tag') %></th>
            <th><%= t('project.table_head.hours') %></th>
          </tr>
          <% @project.tags.each do |tag| %>
            <tr>
              <td><%= tag.name %></td>
              <td><%= tag.hours_for(@project) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>
