<div class="container">
<%= render partial: "project", locals: { project: @project } %>
<ul class="tags">
  <% @project.tags.each do |tag| %>
    <li class="tag"><a href="#"><%= tag.name %></a></li>
  <% end %>
</ul>
<div class="hours-per-user-overview">
  <canvas id="hours-per-user" data-data="<%= @project.hours_per_user.to_json %>" width="300" height="300"></canvas>
  <ul class="legend">
    <% @project.users.each do |user| %>
    <li>
      <%= gravatar_image_tag user.email, class: "image-circle", style: "border: 3px solid #{user.full_name.pastel_color}"%>
      <span><%= user.full_name %> (<%= user.hours_spent_on(@project) %> <%= t(:hours) %>)</span>
    </li>
    <% end %>
  </ul>
</div>

<table>
  <tbody>
    <tr>
      <th>Tag</th>
      <th>Hours</th>
    </tr>
    <% @project.tags.each do |tag| %>
      <tr>
        <td><%= tag.name %></td>
        <td><%= tag.hours_for(@project) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
