- cache @project do
  .outer
    .container
      = render partial: "project_detail", locals: { project: @project }

      = render "/time_span"
      .charts
        = render "charts/bar_chart", title: t("report.hours_per_day", count: @time_series.days), data: @time_series.serialize.to_json
      .charts
        = render "/charts/pie_chart", title: t('project.show.per_user'), data: EntryStats.new(@project.entries).hours_for_subject_collection(User.all).to_json
      %table
        %tbody
          %tr
            %th= t('project.table_head.tag')
            %th= t('project.table_head.hours')
          - @project.tags.each do |tag|
            %tr
              %td= link_to tag.name, tag_path(tag)
              %td= EntryStats.new(tag.entries, @project).hours_for_subject
