<div class="chart-container">
  <h2><%= t('tags.show.projects_title') %></h2>
  <div class="chart">
    <canvas id="hours-tag-per-project" data-data="<%= tag.hours_per_project.to_json %>" width=200 height=200 ></canvas>
  </div>
  <ul class="legend">
    <% tag.projects.each do |project| %>
      <li>
      <span class="color" style="background-color: <%= project.name.pastel_color %>"></span>
        <%= project.name %>: <%= tag.percentage_spent_on_project(project).round %>% (<%= tag.hours_spent_on_project(project) %><%= t('tags.show.hours_indication') %>)
      </li>
    <% end %>
  </ul>
</div>
