.outer
  .container
    - cache @tag do
      %h1
        = @tag.name
        \-
        \#{EntryStats.new(@tag.entries).total_hours}
        \#{t('tags.show.hours_indication_title', count: EntryStats.new(@tag.entries).total_hours)}
      %hr/
      = render 'tags_users_chart', tag: @tag
      = render 'tags_projects_chart', tag: @tag
    = render 'entries_table', entries: @entries
