- content_for :page_title, @tag.name

.outer
  .container
    - localized_cache @tag do
      = render "/header", title: "#{@tag.name} - #{EntryStats.new(@tag.hours).total_hours} #{t('tags.show.hours_indication_title', count: EntryStats.new(@tag.hours).total_hours)}"
    .charts
      = render @time_series.chart, time_series: @time_series
    .charts
      = render "charts/pie_chart", title: t('charts.hours_spent_per_user'), data: EntryStats.new(@time_series.entries_for_time_span).hours_for_subject_collection(User.all).to_json
      = render "charts/pie_chart", title: t('charts.hours_spent_per_project'), data: EntryStats.new(@time_series.entries_for_time_span).hours_for_subject_collection(Project.all).to_json
