.outer
  .container
    %h2= t('sign_in')
    = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
      .form-inputs
        = f.input :email, :required => false, :autofocus => true
        = f.input :password, :required => false
        = f.input :remember_me, :as => :boolean if devise_mapping.rememberable?
      .form-actions
        = f.button :submit, t("sign_in"), data: { disable_with: t("loader.signing_in") }
    = render "devise/shared/links"
