%h3= t("entry_filters.title")
= simple_form_for(@filters, url: billables_path, method: "get") do |f|
  = f.input :client_id, collection: @filters.clients, label: false, include_blank: t("entry_filters.clients")
  = f.input :project_id, collection: @filters.projects, label: false, include_blank: t("entry_filters.projects")
  = f.input :from_date, input_html: { class: "datepicker", value: @filters.from_date ? @filters.from_date.strftime(I18n.t("date.formats.default")) : "" }
  = f.input :to_date, input_html: { class: "datepicker", value: @filters.to_date ? @filters.to_date.strftime(I18n.t("date.formats.default")) : "" }
  = f.input :billed, collection: @filters.billed_options, label: false, include_blank: t("entry_filters.billed_empty")
  = f.button :submit, t("billables.buttons.filter"), class: "button-grey"
