%h3= t("entries.index.hours")
%table.entries
  %tr
    %th
      %input{ type: "checkbox", "data-project-id" => project.id, "data-entry_type" => "hours", class: "bill-project" }
      = t("billables.table.billed")
    %th= t("billables.table.date")
    %th= t("billables.table.category")
    %th= t("billables.table.hours")
    %th= t("billables.table.user")
  - billable_hours_of(project).each do |hour|
    %tr.info-row
      %td= billable_entry_checkbox(hour, "hours")
      %td= I18n.l (hour.date)
      %td= hour.category.name
      %td.center= hour.value
      %td
        = link_to hour.user do
          = hour.user.full_name
