%h3= t("entries.index.mileages")
%table.entries
  %tr
    %th.checkbox
      %input{ type: "checkbox", "data-project-id" => project.id, "data-entry_type" => "mileages", class: "select-all" }
    %th.date= t("billables.table.date")
    %th
    %th.value= t("entries.index.mileages")
    %th= t("billables.table.user")
    %th.status= t("billables.table.billed")
  - entries.each do |mileages|
    %tr.info-row.billable{ class: ("green-row" if mileages.billed?) }
      %td=billable_entry_checkbox(mileages, "mileages")
      %td=I18n.l (mileages.date)
      %td
      %td.center= mileages.value
      %td
        = link_to mileages.user do
          = mileages.user.full_name
      %td.status
        - if mileages.billed?
          .green ✓
