- projects.each do |project|
  - if @entries.project_id(project.id).any?
    .container
      %h1= project.name
      = render "entries", entries: @entries.project_id(project.id), project: project
      = content_tag(:a, class: 'mark-project-as-billed', data_project_id: project.id) do
        = t("billables.mark_project_as_billed")
      %div
        %button.submit-billable-entries= t("billables.buttons.bill_selected")

