%div.marked_entries
  %p#amount_marked_entries
    Select entries to bill
  %button{id: "submit-billable-entries", disabled: true}
    =t("billables.buttons.bill_selected")
.billables
  .sidebar
    .container
      = render "filters"
  .outer
    %h1= t("billables.billable_entries")
    - unless @entries.any?
      .info
        %p= t("info.no_billable_entries_html")
    = form_tag("/billables", method: "post", remote: true, id: "billable-entries-form") do
      - cache [cache_keys_for_all(:clients, :entries, :projects), current_locale] do
        - @billable_list.clients.each do |client|
          %h1= client.name
          = render "projects", projects: @billable_list.projects_for_client(client)
