.billables
  .sidebar
    %h1 Filters
    .container
      = render "filters"
    .container
      %button#submit-billable-entries= t("billables.buttons.bill_selected")
      %p#amount_marked_entries
  .outer
    %h1= t("billables.billable_entries")
    - unless @entries.any?
      .info
        %p= t("info.no_billable_entries_html")
    = form_tag("/billables", method: "post", id: "billable-entries-form") do
      - cache [cache_keys_for_all(:clients, :entries, :projects), current_locale] do
        - @clients.each do |client|
          - if EntryQuery.new(@entries, { client_id: client.id }).filter.any?
            %h1= client.name
            = render "projects", projects: @projects.where(client: client)
