.billables
  .sidebar
    %h1 Filters
    .container
      = render "filters"
  .outer
    %h1 Billable Entries
    - unless @entries.any?
      .info
        %p= t("info.no_billable_entries_html")
    = form_tag("/billables", method: "post", id: "billable-entries-form") do
      - @clients.each do |client|
        - if @entries.client_id(client.id).any?
          %h1= client.name
          = render "projects", projects: @projects.where(client: client)
