.outer
  .container
    %p= t('email.reset_password.salutation', email: @resource.email)
    %p= t('email.reset_password.requested_link')
    %p= link_to t('change_password'), edit_password_url(@resource, :reset_password_token => @token, subdomain: current_subdomain)
    %p= t('email.reset_password.wrong_mail')
    %p= t('email.reset_password.info_text')
