<div class="outer">
  <div class="container">
    <p><%= t('email.reset_password.salutation', email: @resource.email) %></p>

    <p><%= t('email.reset_password.requested_link') %></p>

    <p><%= link_to t('change_password'), edit_password_url(@resource, :reset_password_token => @token, subdomain: Apartment::Tenant.current) %></p>

    <p><%= t('email.reset_password.wrong_mail') %></p>
    <p><%= t('email.reset_password.info_text') %></p>
  </div>
</div>
