.new_entry_wrapper
  %h2= form_title
  = simple_form_for(@entry) do |f|
    = f.error_notification
    = f.association :project, required: true, collection: Project.unarchived.by_name, label: false, placeholder: t("entries.index.project")
    = f.association :category, required: true, collection: Category.by_name, label: false, placeholder: t("entries.index.category")
    = f.input :hours, required: true, label: false, placeholder: t("entries.index.hours")
    = f.input :date, required: true, as: :string, input_html: { value: (@entry.date || DateTime.current).strftime("%d/%m/%Y"), class: "datepicker"}, label: false
    .taggable
      = f.input :description, input_html: { data: { data: Tag.list }, autocomplete: :off }, label: false, autocomplete: "off", placeholder: t("entries.index.description")
      %span.background-highlighter
    = f.button :submit, data: { disable_with: t("loader.saving") }
