<div class="wrapper" %>
<%= simple_form_for(@entry) do |f| %>
    <%= f.error_notification %>

  <%= f.association :project, required: true %>
  <%= f.association :category, required: true %>
  <%= f.input :hours, required: true %>
  <%= f.input :date, required: true, as: :string, input_html: { value: Date.today.strftime("%d/%m/%Y"), id: "datepicker"} %>
  <%= f.button :submit %>
<% end %>
</div>
