<div id="navbar">
  <div class="nav">
    <ul>
      <%= nav_path t("titles.projects.index"), root_path %>
      <%= nav_path t("titles.categories.index"), categories_path %>
      <%= nav_path t("titles.entries.index"), user_entries_path(current_user) %>
    </ul>
  </div>

  <div class="nav-user">
    <ul>
        <%= nav_path t("sign_out"), destroy_user_session_path, method: :delete %>
        <li><%= gravatar_image_tag current_user.email, class: "image-circle" %></li>
    </ul>
  </div>
</div>
