<div id="navbar">
  <div class="nav">
    <ul>
      <%= nav_path t("titles.projects.index"), root_path %>
      <%= nav_path t("titles.categories.index"), categories_path %>
      <%= nav_path t("titles.entries.index"), user_entries_path(current_user) %>
    </ul>
  </div>

  <div class="nav-user">
    <ul>
      <% if Hours.helpful_enabled? %>
        <li class="navigation">
          <div class="modal">
            <label for="modal-1"><a>Help me!</a></label>
            <input class="modal-state" id="modal-1" type="checkbox">
            <%= render 'modal' %>
          </div>
        </li>
      <% end %>
        <%= nav_path t("sign_out"), destroy_user_session_path, method: :delete %>
        <li><%= user_image_link(current_user) %></li>
    </ul>
  </div>
</div>


