%h3= t("entry_filters.title")
= simple_form_for(@filters, url: reports_path, method: "get") do |f|
  = f.input :client_id, collection: @filters.clients, label: false, include_blank: t("entry_filters.clients")
  = f.input :project_id, collection: @filters.projects, label: false, include_blank: t("entry_filters.projects")
  = f.input :from_date, as: :date, html5: true
  = f.input :to_date, as: :date, html5: true
  = f.input :billed, collection: @filters.billed_options, label: false, include_blank: t("entry_filters.billed_empty")
  = f.input :archived, collection: @filters.archived_options, label: false, include_blank: t("entry_filters.archived_empty")
  = f.button :submit, t("billables.buttons.filter"), class: "button-grey"
