%li.tab-header-and-content
  %a.tab-link{href: "#mileages"}= t("entries.index.mileages")
  #mileages-tab.tab-reports-content
    %table.entries-table
      %table
        %thead
          %tr
            %th= t("report.headers.date")
            %th= t("report.headers.user")
            %th= t("report.headers.project")
            %th.hide-for-mobile
            %th.hide-for-mobile= t("report.headers.client")
            %th= t("report.headers.mileages")
            %th.hide-for-mobile= t("report.headers.billable")
            %th.hide-for-mobile= t("report.headers.billed")
            %th.hide-for-mobile
        %tbody
        - @mileages_entries.each do |entry|
          %tr.info-row
          %td= entry.date
          %td= link_to entry.user.full_name, entry.user
          %td= link_to entry.project.name, entry.project
          %td.hide-for-mobile
          %td.hide-for-mobile= link_to entry.project.client.name, entry.project.client if entry.project.client
          %td= entry.value
          %td.hide-for-mobile= entry.project.billable
          %td.hide-for-mobile= entry.billed
          %td.hide-for-mobile

    = paginate @mileages_entries, param_name: :mileages_pages
