.outer
  .container
    = link_to "new charges", new_charge_path
    %h2
      = t("payment.show.subscription")
    .current-subscription
      = t("payment.current_subscription")
      = number_to_currency(@subscription.costs, unit: "€")

    - if @subscription.enabled?
      = link_to "remove subscription", destroy_charge_path, method: "DELETE"
